.footer {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        min-height: 50vh;
        background-color: #fff;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__link {
        opacity: .8;
        transition: .3s;
        color: gray !important;
        cursor: pointer;
        text-decoration: none !important;
        font-family: "Space Grotesk", sans-serif;

        &:hover {
            color: #2fc4b2 !important;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 25%;
            margin: 0 2rem;

            &:hover .footer__info-item-data {
                color: #2fc4b2;
            }

            &-img {
                height: 2rem;
                opacity: .6;
            }

            &-data {
                color: gray;
                transition: .2s;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .footer {
        &__container {
            padding-bottom: 2rem;
        }

        &__info {
            gap: 2rem;
            padding: 2rem 0;

            &-item {
                width: 90%;
            }
        }
    }
}