@import './animations.scss';
@import '../../components/Button/button.scss';
@import '../../components/Header/header.scss';
@import '../../components/InputField/inputfield.scss';
@import '../../components/Switch/switch.scss';
@import '../../components/Footer/footer.scss';
@import '../../components/Dropdown/dropdown.scss';
@import '../../components/DataTable/datatable.scss';
@import '../../components/Modal/modal.scss';
@import '../../components/Loader/loader.scss';
@import './calendar.scss';
@import './bigcalendar.scss';

@import '../../app/login/login.scss';
@import '../../app/home/home.scss';
@import '../../app/turnos/turnos.scss';

// ::-webkit-scrollbar {
//     background: transparent;
//     width: .4rem;
//     height: .4rem;
//     // border-radius: .3rem;
//     background-color: black;
// }

// ::-webkit-scrollbar-thumb {
//     background: #114b5f;
//     // border-radius: .2rem;
// }

.anchor {
    text-decoration: none;
    color: #259b8d;
    transition: .2s;

    &:hover {
        color: #3ec4b4;
    }
}

.page__container {
    padding-top: 10vh;
    margin: 0 auto 10rem;
    width: 50vw;
    font-family: 'Lato', sans-serif;
    min-height: 40vh;

    &-admin {
        // width: 100%;
        padding-top: 10vh;
        margin: 0 2rem 10rem;
        // font-family: "Playfair Display", serif;
        min-height: 40vh;
    }
}

::-webkit-scrollbar {
    background: transparent;
    width: .4rem;
    // height: .4rem;
    // border-radius: .3rem;
    // background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #42424257;
    // border-radius: .2rem;
}


@media only screen and (max-width: 768px) {
    .page {
        &__container {
            width: 90vw;
        }
    }
}